* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  background-color: #000;
  color: #fff;
  width: 100%;
  border-bottom: #676767 1px solid;
}

.navbar__logo img {
  width: 50px;
  height: 50px;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.navbar__list a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.navbar__list a:hover {
  color: #0ce825;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

.article__image img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
}

.article__content {
  max-width: 800px;
  text-align: start;
  color: #d3d3d3;
}

.article__content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article__content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}

.gallery__item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

.footer {
  width: 100%;
  border-top: #676767 1px solid;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 3rem;
}

.footer__social {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.footer__social a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  fill: #fff;
}

.footer__social a:hover {
  color: #0ce825;
}
